In [1]:
import pandas
import numpy
import csv

In [3]:
datos=pandas.read_csv('C:/Users/isaac.cedeno/Downloads/PopularCreativeTypes.csv')

In [4]:
datos

,RANK,CREATIVE TYPES,MOVIES,TOTAL GROSS,AVERAGE GROSS,MARKET SHARE
0,1.0,Contemporary Fiction,"7,442","$96,203,727,036","$12,927,133",40.46%
1,2.0,Kids Fiction,564,"$32,035,539,746","$56,800,602",13.47%
2,3.0,Science Fiction,724,"$29,922,660,857","$41,329,642",12.59%
3,4.0,Fantasy,759,"$21,724,062,575","$28,621,953",9.14%
4,5.0,Super Hero,129,"$20,273,157,911","$157,156,263",8.53%
5,6.0,Historical Fiction,"1,487","$18,521,260,744","$12,455,454",7.79%
6,7.0,Dramatization,"1,175","$15,715,191,699","$13,374,631",6.61%
7,8.0,Factual,"2,467","$2,960,327,207","$1,199,970",1.25%
8,9.0,Multiple Creative Types,42,"$117,574,526","$2,799,393",0.05%
9,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
datos['CREATIVE TYPES'].unique().tolist()

['Contemporary Fiction',
 'Kids Fiction',
 'Science Fiction',
 'Fantasy',
 'Super Hero',
 'Historical Fiction',
 'Dramatization',
 'Factual',
 'Multiple Creative Types',
 nan]

In [7]:
datos['CREATIVE TYPES']=='Fantasy'

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8    False
9    False
Name: CREATIVE TYPES, dtype: bool

In [10]:
datos[datos['CREATIVE TYPES']=='Fantasy']

   RANK CREATIVE TYPES MOVIES      TOTAL GROSS AVERAGE GROSS MARKET SHARE
3   4.0        Fantasy    759  $21,724,062,575   $28,621,953        9.14%

In [11]:
datos['CREATIVE TYPES'].count()

9

In [12]:
datos['CREATIVE TYPES'].value_counts()

Contemporary Fiction       1
Kids Fiction               1
Science Fiction            1
Fantasy                    1
Super Hero                 1
Historical Fiction         1
Dramatization              1
Factual                    1
Multiple Creative Types    1
Name: CREATIVE TYPES, dtype: int64

In [15]:
datos['RANK'].min()

1.0

In [16]:
datos['RANK'].max()

9.0

In [17]:
datos[datos['RANK']==5]

   RANK CREATIVE TYPES MOVIES      TOTAL GROSS AVERAGE GROSS MARKET SHARE
4   5.0     Super Hero    129  $20,273,157,911  $157,156,263        8.53%

In [18]:
datos.sort_values(by=['RANK'])

,RANK,CREATIVE TYPES,MOVIES,TOTAL GROSS,AVERAGE GROSS,MARKET SHARE
0,1.0,Contemporary Fiction,"7,442","$96,203,727,036","$12,927,133",40.46%
1,2.0,Kids Fiction,564,"$32,035,539,746","$56,800,602",13.47%
2,3.0,Science Fiction,724,"$29,922,660,857","$41,329,642",12.59%
3,4.0,Fantasy,759,"$21,724,062,575","$28,621,953",9.14%
4,5.0,Super Hero,129,"$20,273,157,911","$157,156,263",8.53%
5,6.0,Historical Fiction,"1,487","$18,521,260,744","$12,455,454",7.79%
6,7.0,Dramatization,"1,175","$15,715,191,699","$13,374,631",6.61%
7,8.0,Factual,"2,467","$2,960,327,207","$1,199,970",1.25%
8,9.0,Multiple Creative Types,42,"$117,574,526","$2,799,393",0.05%
9,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
datos[datos['RANK'].notna()]

,RANK,CREATIVE TYPES,MOVIES,TOTAL GROSS,AVERAGE GROSS,MARKET SHARE
0,1.0,Contemporary Fiction,"7,442","$96,203,727,036","$12,927,133",40.46%
1,2.0,Kids Fiction,564,"$32,035,539,746","$56,800,602",13.47%
2,3.0,Science Fiction,724,"$29,922,660,857","$41,329,642",12.59%
3,4.0,Fantasy,759,"$21,724,062,575","$28,621,953",9.14%
4,5.0,Super Hero,129,"$20,273,157,911","$157,156,263",8.53%
5,6.0,Historical Fiction,"1,487","$18,521,260,744","$12,455,454",7.79%
6,7.0,Dramatization,"1,175","$15,715,191,699","$13,374,631",6.61%
7,8.0,Factual,"2,467","$2,960,327,207","$1,199,970",1.25%
8,9.0,Multiple Creative Types,42,"$117,574,526","$2,799,393",0.05%

In [20]:
clean=datos[datos['RANK'].notna()]

In [21]:
clean.to_csv('C:/Users/isaac.cedeno/Downloads/PopularCrativeTypesClean.csv',header=True,index=True)